<!DOCTYPE html>
<html lang="fr">
<head>
    {% include 'partials/head_meta.html' %}
    <title>{% block title %}ProspectLab{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'partials/navigation.html' %}

    <main class="main-content">
        <div class="container">
            {% include 'partials/flash_messages.html' %}

            {% block content %}{% endblock %}
        </div>
    </main>

    {% include 'partials/footer.html' %}

    {% include 'partials/base_scripts.html' %}
    {% block extra_js %}{% endblock %}
    
    {% include 'partials/websocket_indicator.html' %}
</body>
</html>
